
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color:black;
  align-items: center;
  justify-content: center;
display: flex;
margin: 0 auto;
padding: 0;
}
.my_todo{
  width: 600px;
  background-color: #ffffff;
  border-radius: 50px;
}
.todo_head{
  text-align: center;
}
.todo_body{
  /* padding: 5px; */
  width: 600px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 50px;
}
.todo_foot{
  width: 600px;
  background-color: #ffffff;
  border-radius: 50px;
  height: 70px;
}
input{
  padding: 10px;
  outline: none;
  width: 80%;
  margin-left: 10px;
  border: none;
  border-bottom: 2px solid black;

}
.add_btn{
  padding: 10px;
  color: white;
  width: 10%;
  font-size: 20px;
  border: none ;
  cursor: pointer;
}
.mappedItem{
  width: 100%;
  padding: .1px;
  display: flex;
background-color: gray;
border-radius: 30px;
justify-content: space-around;
color: #ffffff;
margin-bottom: 2px;
}
.mappedItem p{
padding: 0;

}
.secondP{
  width: 200px;
}